body{
    background-image: url(./image/rm218batch4-ning-34.jpg);
}
h1, .button-nhap, .avg-ranked{
    text-align: center;
}
.infor{
    max-width: 400px;
    margin: auto;
    display: flex;
}
.infor-lable{
    min-width: 85px;
}
.infor-input{
    flex: 1;
    height: 30px;
}

.button-nhap, .avg-ranked{
    margin: 20px;
}
table, tr, th, td{
    border: 1px solid black !important;
}
table{
    width: 100%;
    text-align: center;
}
.col2{
    width: 50%;
}
.col1, .col3, .col4, .col5, .col6{
    width: 10%;
}
